<div class="mdl-navigation jp-navigation jp-usercontrol">
  <div class="jp-login-info__info-text" *ngIf="auth.authInfo$ | async as authInfo">
    <div>
    <span>Angemeldet als:&nbsp;</span>
    <strong>{{ authInfo.username }}</strong><br />
    <span>Abmeldung in: <jp-countdown [expiresAt]="authInfo.expiresAt"></jp-countdown></span>       
<br/>
    <div class="jp-login-info__buttons">
        <button class="mdl-button mdl-js-button mdl-button--raised jp-login-info__refresh-button jp-changeable-button" (click)="refresh()">
            <i class="material-icons jp-changeable-button--hide">refresh</i>
            <span class="jp-changeable-button--show">
              Anmeldung erneuern
            </span>
          </button>

      <button class="mdl-button mdl-js-button mdl-button--raised jp-login-info__logout-button" (click)="logout()">
        Abmelden
      </button>
    </div>
  </div>
  </div>
  <div class="jp-login-info__info-text" *ngIf="!(auth.authInfo$ | async)">
    <div>Sie sind nicht angemeldet.</div>
    <div>
      <a routerLink="login">zur Anmeldung</a>
    </div>
  </div>
</div>
