<dialog *ngIf="hasPdfsToDisplay" open class="mdl-dialog">
    <div class="mdl-dialog__actions">
        <button (click)="closeModal()" type="button" class="mdl-button close"><i class="material-icons">close</i></button>
    </div>

    <h4 class="mdl-dialog__title">{{openPdfName}}</h4>

    <embed *ngIf="!downloadRestricted" class="mdl-dialog__content" [src]="openPdfSrc" type="application/pdf" width="100%" height="100%">
    <div *ngIf="downloadRestricted">
      <ng2-pdfjs-viewer *ngIf="downloadRestricted"  [pdfSrc]="openUrl" [download]="false" [print]="false" [openFile]="false"></ng2-pdfjs-viewer>
    </div>

</dialog>
