.msg-error{
  color: darkred;
  padding-left: 2em;
}

.jp-login-form .mdl-textfield{
  width: 345px;
}

.jp-login-button{
  padding-top: 20px;
  padding-bottom: 20px;
}

.mdl-textfield__label__icon {
  position: absolute;
  right: 0;
  top: 20px;
  cursor: pointer;
}
